@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.font-family-karla {
    font-family: karla;
}

article img {
    width: 100%;
    max-width: 100%!;
}

.prose {
    max-width: 100%;
}

#lightboxOverlay {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
}
#lightbox {
    position: fixed !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.lb-outerContainer {
    width: 90vw !important;
}

.lightbox .lb-image {
    width: 100% !important;
    height: unset !important;
}
